.top-container {
  background-color: #7e22ce;
  padding-top: 15px;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  top: 0;
}

.newletter {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-top: 0px;
  color: white;
}
.profile {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin: auto;
  margin-top: 5px;
}
body {
  background-color: #feffde;
  margin: 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #233e8b;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5.625rem;
  font-family: "Satisfy", cursive;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #233e8b;
}
h3 {
  color: #1eae98;
  margin-top: 1.5px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
h4 {
  margin-bottom: 2;
  font-family: "Roboto", sans-serif;
}
p {
  margin-top: 0;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.date {
  margin-bottom: 0;
}
.date1 {
  color: #1eae98;
  margin-top: 0;
}

.experience-row1 {
  width: 50%;
  margin: 7% auto;
  line-height: 1.5;
  text-align: left;
}

/***AREAS OF INTEREST***/
#Express {
  margin: auto;
  font-weight: bolder;
  font-size: 1.5rem;
}
hr {
  /* border-color: #52734d;
 border-style:dotted;
 border-width: 10px;
 border-bottom: none;
 width: 5%; */
  margin: 80px auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.interest-row1 {
  width: 50%;
  margin: 7% auto;
  line-height: 1.5;
  text-align: justify;
}

.interest-row2 {
  width: 50%;
  margin: 7% auto;
  line-height: 1.5;
  direction: rtl;
  text-align: justify;
}
.one {
  width: 20%;
  float: left;
  margin-right: 5px;
}

.two {
  width: 25%;
  float: right;
  margin-left: 5px;
}

.InterestSee {
  width: 50%;
  margin: auto;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bolder;
}
/**Education**/
.Education {
  margin: auto;
  width: 50%;
  text-align: center;
}

/* Table */
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  padding: 8px;
  font-weight: bolder;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table tr:hover {
  background-color: #ddd;
}
.table th {
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 12px;
}

.table td,
th {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* border in table  */

table,
th,
td {
  border: 2px solid #ddd;
}

/***********Skills***********/

#lang {
  color: #194350;
  margin: auto;
  font-weight: bolder;
  font-size: 1.5rem;
}

.Language {
  width: 50%;
  margin: auto;
}

.containers {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {
  width: 90%;
  background-color: #04aa6d;
} /* Green */
.js {
  width: 80%;
  background-color: #2196f3;
} /* Blue */
.py {
  width: 65%;
  background-color: #ac3973;
} /* Pink */
.j {
  width: 70%;
  background-color: #ff3333;
} /* Red */
.dart {
  width: 60%;
  background-color: #808080;
} /* Dark Grey */

/**Contact Me**/
.contact-me {
  width: 50%;
  margin: auto;
}
.social {
  margin: 12px 2px;
  width: 3rem;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 450px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/*******BOTTOM Container*******/
.bot-container {
  background-color: #7e22ce;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: none;
}
.bottom {
  font-weight: bolder;
  font-size: 20px;
  color: black;
  padding: 10px auto;
  margin-bottom: none;
}

.lbutton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5 {
  background-color: #7e22ce;
  border-radius: 20px;
  color: #c5e3ed;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: white;

  color: #7e22ce;
}
.header {
  padding-bottom: 20px;
}
.table-text {
  font-size: 16px;
}
.table-header-text {
  font-size: 20px;
}

@media only screen and (max-width: 450px) {
  .profile {
    width: 75%;
    margin-top: 20px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 19px;
  }
  #Express {
    font-size: 18px;
  }
  .experience-row1 {
    width: 75%;
  }
  .interest-row1 {
    width: 75%;
  }
  .interest-row2 {
    width: 75%;
  }
  .interest-2 {
    padding-right: 15px;
  }
  .Education {
    width: 75%;
  }
  .Language {
    width: 75%;
  }
  .login-hide {
    display: none;
  }
  .bottom {
    font-size: 14px;
  }
  hr {
    margin: 35px auto;
  }
  #lang {
    padding: 10px;
    font-size: 18px;
  }
  .header {
    padding-bottom: 30px;
  }
  .one {
    width: 35%;
  }
  .two {
    width: 40%;
  }
}
